html, body, h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: darkblue;
  color: lightblue;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.discover{

  font-size: 30px;
  letter-spacing: 13.8px;
  text-align: center;
  color: lightblue;
}
.welcome{
  float: right;
  font-size:18px;
  letter-spacing:-1.2px;
  text-align: center;
  color: lightblue;
  margin-left: 9px;

}

nav {
  background-color: #003A65;
  height: 57px;
}

nav ul {
  float: right;
}

nav ul li {
  float: right;
  list-style-type: none;
  padding-right: 77px;
}

nav ul li a {
  font-family: fantasy;
  color: mediumspringgreen;
}

.btn {
  background-color: black;
  border: 3px solid blue;
  color: yellowgreen;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  width: 1000px;
  margin: 0 auto;
}

.section-form {
  color: #3a3a3a;
  float: left;
  width: 340px;
  margin-left: 480px;
}
