html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 255, 0.3);
  font-family: 'Open Sans', sans-serif;
}

h2 {

  font-weight: 300;
  letter-spacing: -1.2px;
}

a {
  text-decoration: none;
  display: inline-block;
}


.section-books{
  float: right;
  position: relative;
  top: 65px;
}

.section-books img {
  width: 600px;
}


.btn-primary {
  background: blue;
  border: 3px solid green;
  color: gold;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-secondary {
  background: gold;
  border: 3px solid blue;
  color: yellowgreen;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.section-content {
  color: #3a3a3a;
  float: left;
  width: 340px;
}
