/*
 * Sign up
 */

.signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 53px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #d43e22;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285f4;
  background-color:aqua;
  color: #d43e22;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #db4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #db4437;
}

.error-message {
  color: #db4437;
}


/*
 * Sign up
 */
