{% extends "layout.html" %}
{% block content %}
    <h1>All books</h1>
    <div id="products" class="row list-group">
      {% for book in books %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="book">
              <img class="group list-group-image img-circle" src="{{book.image}}" class="img-circle"  alt="{{ book.name }}" height="304" width="304"/>
              <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ book.name }} - {{ book.author }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ book.story }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <del class="lead">
                                {{ book.price }}</del>
                            <p class="lead">
                                {{ book.new_price }}</p>   
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="{{ book.link }}" target="_blank">Go to Amazon</a>
                        </div>
                        {% if session['email'] %}
                        <div class="col-xs-12 col-md-6">
                            <a href="{{ url_for('editbook',id=book.id) }}" class="btn btn-info" role="button">Edit</a> 
                        </div>
                        {% endif %}
                       {% if (book.is_sold) %}
                        <div class="col-xs-12 col-md-6">
                            <img src="{{ url_for('static', filename='images/sold.png') }}" height="50" width="50"/>
                         </div>    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
