{% extends "layout.html" %}
{% block content %}
    <h1>All books</h1>
    <div class="allbooks">
      {% for book in books %}
        <div class="book">
          <ul>
            <li><p class="title">{{ book.name }}</p></li>
            <li><img src="{{book.image}}" class="img-circle"  alt="{{ book.name }}" height="304" width="304"></li>
            <li><p class="title">{{ book.author }}</p></li>
            <li><p class="title">{{ book.story }}   {{ book.price }}</p></li>
            <li><a href="{{ book.link }}" target="_blank" class="title">Go to amazon </a></li>
          </ul>
        </div>
      {% endfor %}
    </div>
{% endblock %}
