{% extends "layout.html" %}
{% block content %}
  <h1>Edit a book</h1>
    <form method="POST" action="/editbook" class="form-horizontal">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.name.label }}</label>
        {% if form.name.errors %}
          {% for error in form.name.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.name }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.author.label }}</label>
        {% if form.author.errors %}
          {% for error in form.author.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.author }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.story.label }}</label>
        {% if form.story.errors %}
          {% for error in form.story.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.story }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.price.label }}</label>
        {% if form.price.errors %}
          {% for error in form.price.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.price }}
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.new_price.label }}</label>
        {% if form.new_price.errors %}
          {% for error in form.new_price.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.new_price }}
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.link.label }}</label>
        {% if form.link.errors %}
          {% for error in form.link.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.link }}
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.image.label }}</label>
          {% if form.image.errors %}
            {% for error in form.image.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

        {{ form.image }}
      </div>  
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.is_sold.label }}</label>
          {% if form.is_sold.errors %}
            {% for error in form.is_sold.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.is_sold }}
      </div>
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Update</button>
      </div>
      <div class="col-xs-12 col-md-6">
         <a href="{{ url_for('books') }}" class="btn btn-info" role="button">Cancel</a>
      </div> 
      
    </form>

{% endblock %}
