<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hero.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
        <h1 class="title">Vidit's books</h1>
    </header>
    <div class="sub-header">
      <h2>Discover new books.</h2>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('books') }}" class="btn">About My books</a></li>
        <li><a href="{{ url_for('index') }}" class="btn">Home</a></li>
        {% if session['email'] %}
          <li><a href="/logout" class="btn">Logout</a></li>
          <li><a href="{{ url_for('account') }}" class="btn">My account</a></li>
        {% else %}
          <li><a href="{{ url_for('signup') }}" class="btn">Sign up</a></li>
          <li><a href="{{ url_for('login') }}" class="btn">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}

  </body>
</html>
