<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/hero.css') }}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Vidit's books</h1>
      </div>
    </header>
    <div class="section-content">
      <h2>Discover new books now.</h2>
      <a href="{{ url_for('books') }}" class="btn">About My books</a>
      <a href="{{ url_for('index') }}" class="btn">Home</a>
      {% if session['email'] %}
        <a href="/logout" class="btn">Logout</a>
        <a href="{{ url_for('account') }}" class="btn">My account</a>
      {% else %}
        <a href="{{ url_for('signup') }}" class="btn">Sign up</a>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
      {% endif %}
    </div>
    {% block content %}
    {% endblock %}

  </body>
</html>
