{% extends "layout.html" %}
{% block content %}
  <h1>Insert a book</h1>
  <div class="section-form">
    <form method="POST" action="/newbook" class="form-horizontal">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.name.label }}</label>
        {% if form.name.errors %}
          {% for error in form.name.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.name }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.author.label }}</label>
        {% if form.author.errors %}
          {% for error in form.author.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.author }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.story.label }}</label>
        {% if form.story.errors %}
          {% for error in form.story.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.story }}
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.price.label }}</label>
        {% if form.price.errors %}
          {% for error in form.price.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.price }}
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">{{ form.link.label }}</label>
        {% if form.link.errors %}
          {% for error in form.link.errors %}
            <p class="error-message">{{ error }}</p>
          {% endfor %}
        {% endif %}

        {{ form.link }}
      </div>

      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
  </div>
{% endblock %}
