{% extends "layout.html" %}
{% block content %}
    <h1>All Toys</h1>
    <div id="products" class="row list-group">
      {% for toy in toys %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="toy">
              <img class="group list-group-image img-circle" src="{{toy.image}}" class="img-circle"  alt="{{ toy.name }}" height="304" width="304"/>
              <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ toy.name }} - {{ toy.brand }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ toy.description }}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <del class="lead">
                                {{ toy.price }}</del>
                            <p>{{ toy.new_price }}</p>    
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="{{ toy.link }}" target="_blank">Go to Amazon</a>
                        </div>
                        {% if session['email'] %}
                        <div class="col-xs-12 col-md-6">
                            <a href="{{ url_for('edittoy',id=toy.id) }}" class="btn btn-info" role="button">Edit</a>
                        </div> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}